<?xml version="1.0" ?>
<robot name="diff_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find diff_bot_description)/urdf/materials.xacro" />
<xacro:include filename="$(find diff_bot_description)/urdf/diff_bot.trans" />
<xacro:include filename="$(find diff_bot_description)/urdf/diff_bot.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.001236479549238988 1.7595715933608262e-17 0.05018173541387255" rpy="0 0 0"/>
    <mass value="16.23016292342114"/>
    <inertia ixx="0.056336" iyy="0.058867" izz="0.107316" ixy="0.0" iyz="0.0" ixz="-0.000699"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://diff_bot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://diff_bot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
